
.wanted-panel{
    width: 840px;
    height: 940px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: table;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.wanted-search-result{
    width: 95%;
    height: 40px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #AAAAAA ;
    margin-bottom: 5px;

}



.wanted-item{
    float: left;
    width: 250px;
    margin: 5px 10px;
    border: 1px solid #777777;
    border-radius: 5px;
    height: 250px;
    box-shadow: 2px 2px 2px #555;
    padding: 10px;
}


.wanted-title{
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: 1px solid #777777;
    margin-bottom: 10px;
    height: 41px;

}

.wanted-description{
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wanted-progress{
    padding: 10px;
    text-align: right;
}

.space-available{
    color: lightgreen;
}

.no-space-available{
    color: lightcoral;
}


.wanted-buttons {
    width: 100%;
}
.wanted-buttons a{
    display: inline-block;

}

.wanted-buttons a:first-child{
    width: 48% ;
}

.wanted-buttons a:last-child{
    width: 48% ;
}

.wanted-owner{
    margin-top: 5px;
    font-size: 0.8em;
    text-align: right ;
}

.clearBoth{
    clear: both;
}
